@use 'base/mixins' as m;
@use 'base/variables' as v;

.registro{
    padding-top: 3rem;
    background-color: v.$fondo;

 &__grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

    @include m.tablet { 
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    @include m.desktop { 
        grid-template-columns: repeat(4,1fr)
    }
 }
    &__imagen{
        @include m.desktop { 
            grid-column: 4/5;
        }
    }

    &__formularios{
        grid-column: 1/4;
    
        form{
            background-color: v.$formulario;
            display:grid;
            grid-template-columns: 1fr;
            width:90%;
            margin: 0 auto;
            border-radius: 3rem;
            
            @include m.tablet { 
                width:70%;
                margin: 0 auto;
                
            }


            fieldset{
                border: 5px solid v.$colorHeader;
                margin:2rem;
                padding: 2rem;
                

                @include m.tablet { 
                    margin: 3rem;
                    padding: 3rem;
                }
              
                display: flex;
                flex-direction: column;
                align-items: space-between ;
                gap:2rem;
                legend{
                    background-color: v.$colorHeader;
                    font-size: 1.5rem;
                    height: 5rem;
                    width: 20rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;

                    @include m.tablet { 
                        height: 5rem;
                        width: 30rem;
                        font-size: 2rem;
                    }
                }
            }
        }

        
    }

    &__nombreDueño ,   &__correo ,  &__telefono, &__direccion,     &__nombreMascota ,  &__especie, &__raza, &__edad,  &__sexo, &__peso,   &__colorPelo,   &__historialMedico ,   &__fotoMascota{
        color:white;
        display: grid;
        grid-template-columns: 1fr;
        gap:1rem;
        font-weight: bold;
        font-size: 2rem;
    
        
      @include m.tablet {          
        grid-template-columns: repeat(2,1fr);
        font-size: 2rem;
        };

        @include m.desktop { 
            font-size: 3rem;
        }
    }
    
    &__boton{
        background-color: v.$colorHeader;
        width: 50%;
        height: 5rem;
        border-radius: 2rem;
        font-size: 3rem;
        margin: 0 auto;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}   

.radio-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    input{
        width: 3rem;
        height: 3rem;
    
    }


    @include m.tablet { 
        font-size: 2rem;
    }
    @include m.desktop { 
        font-size: 3rem;
    }
}